.git
.github
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

frontend/
infra/
docs/
tests/

pytest.ini
Makefile
pre-commit-config.yaml
.pylintrc

AGENTS.md
GEMINI.md

.env
env/
venv/
.venv/

.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
