__pycache__/
*.py[cod]
*$py.class

data/

*.log

.env
.venv
env
venv
ENV
env.bak
venv.bak

.idea
idea

GEMINI.md
AGENTS.md
CLAUDE.md

node_modules/

data.json

.terraform/

*.pdf

specs
claude
.specify
build