name: CI/CD pipeline for frontend
run-name: ${{ github.event.pull_request.title }}
on:
  pull_request:
    branches:
      - main
    paths:
      - 'frontend/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  DOCKER_BUILDKIT: 1
  DOCKER_BUILDKIT_PROGRESS: plain
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_REPO_NAME: ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.FRONT_IMAGE_NAME }}
jobs:
  build:
    name: Build image and push to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          build-args: |
            REACT_APP_API_URL=${{ vars.REACT_APP_API_URL }}
          target: runner
          push: true
          tags: |
            ${{ env.DOCKER_REPO_NAME }}:latest
            ${{ env.DOCKER_REPO_NAME }}:${{ github.sha }}
            ${{ env.DOCKER_REPO_NAME }}:${{ github.run_number }}
          cache-from: type=gha,scope=front
          cache-to: type=gha,mode=max,scope=front
  deploy:
    name: Deploy to Cloud Run
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          service: ${{ vars.FRONT_GCP_SERVICE_NAME }}
          image: ${{ env.DOCKER_REPO_NAME }}:latest
          region: ${{ vars.GCP_REGION }}
          env_vars: |
            REACT_APP_API_URL=${{ vars.REACT_APP_API_URL }}
          flags: |
            --service-account=transplant-app-service-account@transplant-app-477411.iam.gserviceaccount.com
            --max-instances=1
            --min-instances=0