name: CI/CD pipeline for main branch
run-name: ${{ github.actor }}
on:
  pull_request:
    branches:
      - main
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
jobs:
  test:
